.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100vw;
  height: 100vh;
}
.eat{
  background-color: greenyellow;
}
.play{
  background-color: yellow;
}
.fight{
  background-color:indianred;
}
.sleep{
  background-color: cyan;
}