.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 98vw;
  height: 97vh;
}
/*----------------EAT-------------------------*/
.eat{
  background-color: greenyellow;
}
.actionsEat{
    display: flex;
  width: 300px;
  justify-content: space-evenly;
  padding: 10px 0px;
}
.actionsEat img{
  width: 50px;
  height: 50px;
  border: solid green 2px;
  border-radius: 50px;
  box-sizing: border-box;  
  filter: invert(29%) sepia(95%) saturate(410%) hue-rotate(60deg) brightness(90%) contrast(100%);
}
#progressEat{
  margin: 0 15px;
  width: 80%;
  border: 5px solid black;
  border-radius: 20px;
  background-color: black;
  appearance: none; 
}
#progressEat::-webkit-progress-bar {
  background-color: black;
}
#progressEat::-webkit-progress-value {
  background-color: red;
  border-radius: 20px;
}
/*
#progressEat::-moz-progress-bar{
  background-color: red;
}*/
.eatTextBar p{
  margin: 0px 15px;
  color: green;
  font-size: 1.2rem;
}
.textEat{
  display: flex;
  align-items: start;
  margin: 20px;
  color: green;
  font-size: 3rem;
}
/*----------------PLAY-------------------------*/

.play{
  background-color: yellow;
}

.actionsPlay{
  display: flex;
width: 300px;
justify-content: space-evenly;
padding: 10px 0px;
}
.actionsPlay img{
width: 50px;
height: 50px;
border: solid green 2px;
border-radius: 50px;
box-sizing: border-box;  
filter: invert(100%) sepia(100%) saturate(700%) hue-rotate(13deg) brightness(95%) contrast(100%);

}
#progressPlay{
margin: 0 15px;
width: 80%;
border: 5px solid black;
border-radius: 20px;
background-color: black;
appearance: none; 
}
#progressPlay::-webkit-progress-bar {
background-color: black;
}
#progressPlay::-webkit-progress-value {
background-color: yellow;
border-radius: 20px;
}
/*
#progressPlay::-moz-progress-bar{
background-color: red;
}*/
.playTextBar p{
margin: 0px 15px;
color: yellowgreen;
font-size: 1.2rem;
}
.textPlay{
  display: flex;
  justify-content: end;
margin: 20px;
color: yellowgreen;
font-size: 3rem;
}


/*----------------FIGHT-------------------------*/

.fight{
  background-color:indianred;
}

.actionsFight{
  display: flex;
width: 300px;
justify-content: space-evenly;
padding: 10px 0px;
}
.actionsFight img{
width: 50px;
height: 50px;
border: solid green 2px;
border-radius: 50px;
box-sizing: border-box;  
filter: invert(29%) sepia(95%) saturate(410%) hue-rotate(300deg) brightness(90%) contrast(100%);
}
#progressFight{
margin: 0 15px;
width: 80%;
border: 5px solid black;
border-radius: 20px;
background-color: black;
appearance: none; 
}
#progressFight::-webkit-progress-bar {
background-color: black;
}
#progressFight::-webkit-progress-value {
background-color: indianred;
border-radius: 20px;
}
/*
#progressFight::-moz-progress-bar{
background-color: indianred;
}*/
.fightTextBar p{
margin: 0px 15px;
color: rosybrown;
font-size: 1.2rem;
}
.textFight{
  display: flex;
  align-items: start;
margin: 20px;
color: rosybrown;
font-size: 3rem;
}

/*----------------SLEEP-------------------------*/

.sleep{
  background-color: cyan;
}

.actionsSleep{
  display: flex;
width: 300px;
justify-content: space-evenly;
padding: 10px 0px;
}
.actionsSleep img{
width: 50px;
height: 50px;
border: solid green 2px;
border-radius: 50px;
box-sizing: border-box;  
filter: invert(29%) sepia(95%) saturate(410%) hue-rotate(180deg) brightness(90%) contrast(100%);
}
#progressSleep{
margin: 0 15px;
width: 80%;
border: 5px solid black;
border-radius: 20px;
background-color: black;
appearance: none; 
}
#progressSleep::-webkit-progress-bar {
background-color: black;
}
#progressSleep::-webkit-progress-value {
background-color: cyan;
border-radius: 20px;
}
/*
#progressSleep::-moz-progress-bar{
background-color: red;
}*/
.sleepTextBar p{
margin: 0px 15px;
color:darkseagreen;
font-size: 1.2rem;
}
.textSleep{
  display: flex;
  justify-content: end;
margin: 20px;
color: darkseagreen;
font-size: 3rem;
}

